.audioplayer {
  display: flex;
  margin-top: 10px;

  &__btn {
    display: block;
    width: 36px;
    height: 36px;
    margin-right: 15px;
    border: 2px solid #00bc8c;
    border-radius: 50%;
    background-color: unset;
    cursor: pointer;
    
    transition: all 0.4s ease-out;

    &:hover .audioplayer__play-img,
    &:hover .audioplayer__stop-img {
      transform: scale(1.1);
    }
  }
  &__play-img {
    display: none;
    margin-top: 4px;
  }
  &__stop-img {
    display: none;
    margin-top: 4px;
  }

  &__btn--stop &__stop-img {
    display: inline;
  }
  &__btn--play &__play-img {
    display: inline;
  }
  &__track {
    height: 4px;
    background-color: $audio-track;
  }

  &__controls {
    margin-top: 16px;
    width: 100%;
  }

  &__progress {
    background-color: #00bc8c;
    width: 0%; //controlls
    height: 4px;
  }

  &__progress-thumb {
    position: relative;
    top: -9px;
    left: calc(0% - 8px); //controlls
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: grey;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 20%);
    cursor: pointer;
  }

  &__timer {
    margin-top: 8px;
    margin-left: 5px;
    font-size: 10px;
    color: #d3d3d3;
  }

  &__volume {
    position: relative;
    display: block;
    width: 78px;
    margin-top: -14px;
    margin-left: auto;
    font-size: 10px;
    color: #d3d3d3;
  }

  &__vol-btn {
    background: unset;
    border: none;
    padding: 0;
    cursor: pointer;

    &--incr {
      position: absolute;
      right: 0;
    }
  }

  &__vol {
    white-space: pre;
  }
}