.container {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  
  @media (min-width: $tablet) {
    width: 690px;
  }
  @media (min-width: $small-desk) {
    width: 930px;
  }
  @media (min-width: $small-desk) {
    width: 1110px;
  }
}

