.description {
  background-color: $bg-elem;
  border: 1px solid $border;
  border-radius: 4px;
  margin-bottom: 25px;
  padding: 16px;
  &__placeholder {

    margin-top: 0;
    margin-bottom: 16px;
    padding-left: 20px;
    line-height: 1.4em;
  }

  &--active &__placeholder {
    display: none;
  }
}